extends /template.pug

block vars
  - const pageId = 'volume1'
  - const title = 'Bitcoin Mining'
  - const sections = ['title', 'intro', 'scale-a-manders', 'green-giants', 'warewolves', 'ent-a-cops', 'ampires', 'fiat-fairies', 'end']
  - const bg = imgs => imgs ? `background-image:${imgs.map(i => `url(${assetPath(`/img/mining/${i}`)})`).join(',')};` : null

block styles
  link(rel="stylesheet" href=assetPath("/css/mining.css"))

mixin title(section, text, volume)
  article(id=section)
    .bg(style=`background-image:url(${assetPath("/img/mining/title-bg.svg")})`)
      img.coin1(src=assetPath("/img/coin.svg") alt="")
      img.coin2(src=assetPath("/img/coin.svg") alt="")
      img.coin3(src=assetPath("/img/coin.svg") alt="")
      img.coin4(src=assetPath("/img/coin.svg") alt="")
    .content
      span.prelude The Spiral Book of Bitcoin&nbsp;Mythology
      h1.title= text
      span.volume= volume

mixin content(id, side, glyph, back, wrapBack)
  article(id=id class=`page-${side}` style=bg(back))
    .wrap(style=bg(wrapBack))
      .content
        if glyph
          img.glyph(src=assetPath(`/img/mining/${glyph}`) alt="")
        block

mixin figure(id, alt, side)
  figure(id=`${id}-2` class=`page-${side}`)
    img(src=assetPath(`/img/mining/${id}.png`) alt=alt)

mixin nav()
  div(class='nav')
    a(class='nav-link' href='/') Volume 1
    a(class='nav-link' href='/volume-2.html') Volume 2

block main
  article#title
    .bg(style=`background-image:url(${assetPath("/img/mining/title-bg.svg")})`)
      img.coin1(src=assetPath("/img/coin.svg") alt="")
      img.coin2(src=assetPath("/img/coin.svg") alt="")
      img.coin3(src=assetPath("/img/coin.svg") alt="")
      img.coin4(src=assetPath("/img/coin.svg") alt="")
    .content
      span.prelude The Spiral Book of Bitcoin&nbsp;Mythology
      h1.title= title
      span.volume Volume 1

  +nav()
  +content('intro-1', 'left', 'introduction-glyph.png', ['introduction-bg-bottom.svg'], ['introduction-bg-top.svg', 'introduction-bg-center.svg'])
    :markdown-it(html linkify typographer)
      ## Introduction

      *"Bitcoin. It's borderless. It's decentralized. And it's destroying the world by releasing an endless stream of smoking hot CO2 into the atmosphere."*

      You've probably heard something like this a few times before. But is it true? Well, no. Not really. The truth is that bitcoin miners are like any other market participants: to last, they have to maximize efficiency. That means embracing green energy at every level.

      This is the first volume in a series about bitcoin myths and the mythical creatures proliferating them. Since there are no more prominent or prevalent myths about bitcoin than those having to do with its environmental impact, we started there.

  +content('intro-2', 'right', null, ['meet-the-myths-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Meet the myths

      [1. Far-From-Jolly Green&nbsp;Giants](#green-giants-1)
      [2. Scale-a-manders](#scale-a-manders-1)
      [3. Warewolves](#warewolves-1)
      [4. Ent-a-cops](#ent-a-cops-1)
      [5. Ampires](#ampires-1)
      [6. Fiat Fairies](#fiat-fairies-1)

  +content('green-giants-1', 'left', 'green-giants-glyph.svg', null, ['green-giants-bg.svg'])
    h2
      small Far-From-Jolly
      span Green Giants

    :markdown-it(html linkify typographer)
      *"Fee-fi-fo-fum. Bitcoin miners don't utilize green energy, son."*

      They’re big. They’re green. And they’re right to be concerned about where bitcoin miners get their electricity. But bitcoin is greener than they (and most humans) realize.

      The highest cost associated with bitcoin mining? Energy. This makes miners some of the world’s foremost advocates for abundant and inexpensive sources like wind, hydro, and solar. Not only are these energy sources everywhere, even when they aren’t, miners can pack up and meet them wherever they are. So if you want to profitably mine bitcoin, you have to go green. Wherever that is.

  +figure('green-giants', 'Green Giants', 'right')

  +content('scale-a-manders-1', 'right', 'scale-a-manders-glyph.svg', ['scale-a-manders-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Scale-a-manders

      *"Bitcoin can't sssscale."*

      For bitcoin, scaling means growing a billion percent without requiring a billion percent more energy. That’s it. For that reason, scale-a-manders are among the oldest and most pervasive bitcoin myths. But despite their frequent claims to the contrary, bitcoin’s energy cost per transaction was designed to "sssscale" and scale a lot.

      That's because bitcoin’s transaction volume is independent of energy usage, meaning that it can accommodate 100, 1,000, or 10,000 times more transactions for the same amount of energy.

  +figure('scale-a-manders', 'Scale-a-manders', 'left')

  +content('warewolves-1', 'left', 'warewolves-glyph.svg', ['warewolves-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Warewolves

      *"To recoup hardware costs, bitcoin mining hardware must run around the clock."*

      Some years ago, these dogged myths would be correct—but it's now, so they aren't. What they're missing is that hardware improvements naturally plateau over time, extending miner life cycles from six months to about four years (and climbing).

      This makes electricity the costliest part of mining, letting miners shut down when costs rise and making bitcoin mining one of the only solutions to the renewable energy supply/demand mismatch problem. Low demand? Miners on. High demand? Miners off.

  +figure('warewolves', 'Warewolves', 'right')

  +content('ent-a-cops-1', 'right', 'ent-a-cops-glyph.svg', null, ['ent-a-cops-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Ent-a-cops

      *"Bitcoin's using too much ent-ergy!"*

      Some myths can't see the woods for the trees—maybe that's because they are trees. Their beef with bitcoin? How much energy it consumes. Though they have good intentions, their concern is a little misplaced: it's CO2 that's the problem, not energy consumption.

      If bitcoin consumed 100x more energy but emitted zero CO2, would these worried sick-a-mores care? Probably not. And if demand for renewable energy does spike 100-fold, so would investment in green technology, which benefits everyone—especially trees.

  +figure('ent-a-cops', 'Ent-a-cops', 'left')

  +content('ampires-1', 'left', 'ampires-glyph.png', ['ampires-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Ampires

      *"Siphoning blood? I’m not a monster."*

      These undying myths want energy consumed by bitcoin allocated to other green initiatives like electric vehicles. Hey, we like electric cars. But what they don't know is that renewable energy consumed by bitcoin rarely has other customers.

      It's either unwanted due to transportation and storage costs, or it simply isn't in demand. If there are customers in line for that electricity, then it goes to the highest bidder. In almost all cases, because electricity is expensive, bitcoin miners won't be the highest bidders.

  +figure('ampires', 'Ampires', 'right')

  +content('fiat-fairies-1', 'right', 'fiat-fairies-glyph.svg', null, ['fiat-fairies-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Fiat Fairies

      *"Bitcoin consumes much more energy than conventional currencies."*

      The truth about government-issued currencies is that they aren't backed by much more than a promise. And when they are, the things that support them are militaries, police forces, arcane legal systems, unaccountable banks, and mints they can fire up at will.

      All of these things consume vast amounts of energy—and it's rarely green. When bitcoin becomes the planet's preferred currency, it will come at the expense of fiat-dependent systems like these. And once they're gone, like real fairies, you'll probably never see them again.

  +figure('fiat-fairies', 'Fiat Fairies', 'left')

  article#end
    .bg(style=`background-image:url(${assetPath("/img/mining/title-bg.svg")})`)
      img.coin1(src=assetPath("/img/coin.svg") alt="")
      img.coin2(src=assetPath("/img/coin.svg") alt="")
      img.coin3(src=assetPath("/img/coin.svg") alt="")
      img.coin4(src=assetPath("/img/coin.svg") alt="")
    .content
      span.prelude Volume 2 "Bitcoin &amp; Security" coming soon
      h1.title The End?
      a.button(href="https://squ.re/BCEI-whitepaper" target="_blank")
        span Read the Green&nbsp;Mining White&nbsp;Paper
